
/*****SOMMAIRE*****/
/*1.GLOBAL*********/
/*2.TOP************/
/*3.CONTENT********/
/*4.SIDE***********/
/*5.FOOTER*********/
/*6.MEDIA QUERIES**/
/*7.FONTS**********/
/******************/

/********/
/*GLOBAL*/
/********/

body{
	background-color: #F4F3F3;
	margin-top: 0px;
	z-index: 1;
}

a{
	text-decoration:none;
	color: inherit;
}

header{
	width: auto;
	height: 280px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
}

#page{
	background-color: white;
	width: 70%;
	min-height: 1200px;
	margin: auto;
	border-left: 2px ridge #9A9A9A;
	border-right: 2px ridge #9A9A9A;
	border-bottom: 2px ridge #9A9A9A;
}

/*****/
/*TOP*/
/*****/

#top_block{
	display: flex;
	align-items: center;
	width: 100%;
	height: 140px;

}

#top_banner{
	max-width: 100%;
	height: auto;
}

#top_slogan{
	font-family: carringtonregular;
	padding-left: 25px;
	font-size: 2.6vw;
	color: black;
}

#top_menu{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	overflow: hidden;
	align-items: center;
}

.block-icon{
	padding: 15px;
	text-align: center;
}

#connect-icon:hover{
	cursor: pointer;
}

#popup-blur{
	width: 100%;
	height: 100%;
	background-color: rgba(127,127,127,0.6);
	display: none;
	position: fixed;
	z-index: 8;
}

#popup-blur-pic{
	width: 100%;
	height: 100%;
	background-color: rgba(127,127,127,0.6);
	display: none;
	position: fixed;
	z-index: 8;
}

#popup-blur-pic:hover{
	cursor: pointer;
}

#popup-blur:hover{
	cursor: pointer;
}

#popup-connect{
	position: absolute;
	text-align: center;
	width: 350px;
	height: 120px;
	background-color: #556080;
	padding: 20px;
	border-radius: 15px;
	display: none;
	z-index: 10;
	top: 50%;
  left: 50%;
 	transform: translate(-50%, -50%);
}

/*********/
/*CONTENT*/
/*********/

section{
	display: flex;
	flex-direction: row;
}

article{
	width: 75%;
	height: 100%;
	margin: 10px;
	padding: 10px;
	border-radius: 17px 17px 17px 17px;
	border: 2px ridge #9A9A9A;
	overflow: auto;
}

#content-header{
	margin-left: 10px;
	font-family: carringtonregular;
	font-size: 38px;
}

/******/
/*SIDE*/
/******/

aside{
	width: 25%;
	height: 100%;
	margin: 10px;
	padding: 10px;
	border-radius: 17px 17px 17px 17px;
	border: 2px ridge #9A9A9A;
}

/********/
/*FOOTER*/
/********/

footer{
	width: auto;
	height: 30px;
	margin: 10px;
	border-radius: 14px 14px 14px 14px;
	border: 2px ridge #9A9A9A;
	padding-right: 10px;
	padding-top: 8px;
	text-align: right;
	font-size: 18px;
}

/***************/
/*MEDIA QUERIES*/
/***************/


@media all and (max-width: 1024px)
{
    #page{
        width: auto;
    }

	#top_block{
		flex-direction: column;
	}

	#top_slogan{
		display: none;
	}

	#top_hr{
		display: none;
	}

	section{
		flex-direction: column;
	}

	article{
		width: 95%;
	}
	aside {
		width: 95%;
		height: 30%;
	}
}

/*******/
/*FONTS*/
/*******/

@font-face{
    font-family: 'carringtonregular';
    src: url('fonts/Carrington-webfont.eot');
    src: url('fonts/Carrington-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Carrington-webfont.woff') format('woff'),
         url('fonts/Carrington-webfont.ttf') format('truetype'),
         url('fonts/Carrington-webfont.svg#carringtonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
